.bannerSection {
  background: linear-gradient(270deg, #000000 -2.92%, rgba(0, 0, 0, 0.8) 100%);
}

.calendarStyle span {
  right: auto;
  left: 0.8rem;
}

.calendarStyle input {
  padding-left: 3.05rem;
  padding-right: 1rem;
  /* padding-top: 16px;
  padding-bottom: 16px; */
  height: 54px;
  border: none;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400;
  /* font-size: 21px; */
}

.calendarStyle input:focus {
  padding-left: 3.05rem;
  padding-right: 1rem;
  /* padding-top: 16px;
  padding-bottom: 16px; */
  outline: none;
  border: none;
}

.calendarStyle input:hover {
  outline: none;
  border: none;
}